.feature_wrap {
  display: flex;
  flex-direction: row;
}

.feature_img {
  flex: 0 0 440px;
  padding-right: 48px;
}

.feature_img img {
  max-width: 100%;
  width: 100%;
}

.feature_body {
  flex: 1 0 0;
}

.feature_subtitle {
  font-weight: normal;
  margin: 12px 0;
}

@media (min-width: 576px) and (max-width: 799px) {
  .feature_img {
    flex-basis: 50%;
  }
}

@media (max-width: 575px) {

  .feature_wrap {
      flex-direction: column;
  }

  .feature_img {
      flex: 0;
      padding: 0;
  }
}
