.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header_logo {
  border-radius: 50%;
  display: block;
  flex-shrink: 0;
  margin-bottom: -32px;
  max-width: 128px;
  overflow: hidden;
}

.header_logo svg {
  background: #111111;
  display: block;
  fill: #ffffff;
  height: 128px;
  transition: fill 0.3s ease 0s;
  width: 128px;
}

.header_logo:hover svg {
  fill: var(--color);
}

.header_title {
  display: none;
  flex-grow: 1;
  padding: 0 24px;
}

.header_nav {
  align-self: flex-end;
}
