:root {
  --color: #ffff01;
  --hero-bg: rgba(255, 255, 80, 0.7);
  --hero-title-color: inherit;
}

.alpha {
  --color: #d42f33;
  --hero-title-bg: rgba(253, 48, 48, 0.7);
  --hero-overlay-bg: rgba(230, 17, 17, 0.4);
}

.beta {
  --color: #207af5;
  --hero-title-bg: rgba(30, 60, 228, 0.7);
  --hero-overlay-bg: rgba(17, 181, 230, 0.4);
}

.omega {
  --color: #f5c45b;
  --hero-title-bg: rgba(245, 196, 91, 0.7);
  --hero-title-color: #333333;
  --hero-overlay-bg: rgba(227, 230, 17, 0.4);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "system-ui";
  background-color: #111111;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5rem;
}

::selection {
  background-color: var(--color);
  color: #111111;
}

a {
  color: currentColor;
  text-decoration: underline;
  transition:
      color 0.3s ease 0s,
      text-decoration 0.3s ease 0s;
}

a:hover {
  color: var(--color);
  text-decoration: underline;
}




.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}









.page {
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 24px;
  padding-right: 24px;
}

.page_header {
  border-bottom: 1px solid #848484;
  margin-bottom: 38px;
  padding-top: 12px;
  flex-shrink: 0;
}

.page_hero {
  margin-top: 24px;
}

.page_body {
  flex-grow: 1;
}

.page_footer {
  flex-shrink: 0;
}
