.page {
  #mc_embed_signup {
      margin-bottom: 56px;

      &::before {
          background: #eaeaea;
          content: '';
          display: block;
          height: 1px;
          margin: 0 auto 72px auto;
          text-align: center;
          width: 50%;
      }

      form {
          padding: 0;
      }

      .form-group {
          display: flex;
          max-width: 500px;

          .input-text {
              flex: 1 0 auto;
          }

          .button {
              flex: 0 1 auto;
              margin: 0 0 0 12px;
          }

      }

      .button {
          font-size: inherit;
          height: auto;
      }

      .mc-field-group {
          padding: 0;
          width: auto;

          input {
              display: inline-block;
              padding: 8px;
              text-indent: 0;
              width: auto;
          }
      }

      #mc-embedded-subscribe-form div.mce_inline_error {
          background: transparent;
          margin-bottom: 0;
          padding-left: 0;
      }

      div#mce-responses {
          float: none;
          margin: 4px 0;
          overflow: initial;
          padding: 0;
          top: 0;
          width: auto;
      }

      #mce-error-response,
      #mce-success-response {
          display: block;
          float: none;
          margin: 4px 0;
          padding: 0;
          top: 0;
          width: auto;
      }
  }
}
