.footer {
  font-size: 0.8rem;
  padding-bottom: 12px;
  padding-top: 12px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  display: inline-block;
  padding: 0 16px;
}

.footer li:first-child {
  padding-left: 0;
}

.footer li + li {
  border-left: 1px solid #848484;
  line-height: 18px;
}

@media (max-width: 575px) {
  .footer {
      font-size: 0.7rem;

      li {
          padding: 0 12px;
      }
  }
}
