.footer {
  padding-bottom: 12px;
  padding-top: 12px;
}

.footer_links {
  font-size: 0.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_links li {
  display: inline-block;
  padding: 0 16px;
}

.footer_links li:first-child {
  padding-left: 0;
}

.footer_links li + li {
  border-left: 1px solid #848484;
  line-height: 18px;
}

@media (max-width: 575px) {
  .footer_links {
    font-size: 0.7rem;
  }

  .footer_links li {
    padding: 0 12px;
  }
}
